form {
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
}

#username {
    width: 100px;
    height: 20px;
    border: 2px solid;
}

#password {
    width: 100px;
    height: 20px;
    border: 2px solid;
    margin-top: 15px;
}